<header id="masthead" role="banner" class="header_normal">
    <div class="top-banner">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="brand brand-text" href="/" title="{{ site.name }}" rel="home">
                <h1>{{ site.name }}<small>&nbsp;&ndash;&nbsp;{{ site.description }}</small></h1>
            </a>
            <div class="top-banner-social">
                <a target="_blank" href="#"><i class="icon-facebook-1"></i></a>
                <a target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i
                        class="icon-twitter-1"></i></a>
                <a target="_blank" href="#"><i class="icon-gplus-1"></i></a>
                <a target="_blank" href="#"><i class="icon-linkedin-1"></i></a>
                <a target="_blank" href="/feed.xml"><i class="icon-rss-1"></i></a>
            </div>
        </div>
    </div>

    {% include navigation.html %}

</header><!-- #masthead .site-header -->