<header id="masthead" role="banner" class="header_normal">
    <div class="top-banner">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="brand brand-text" href="{{ site.baseurl }}/" title="{{ site.name }}" rel="home">
                <h1>{{ site.name }}<small>&nbsp;&ndash;&nbsp;{{ site.description }}</small></h1>
            </a>
            <div class="top-banner-social">
                <a target="_blank" href="https://www.facebook.com/ganeshmax"><i class="icon-facebook-1"></i></a>
                <a target="_blank" href="https://twitter.com/ganeshmax"><i class="icon-twitter-1"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/gmarwaha"><i class="icon-linkedin-1"></i></a>
                <a target="_blank" href="https://github.com/ganeshmax"><i class="icon-github-1"></i></a>
                <a target="_blank" href="https://stackoverflow.com/users/401758/ganeshji-marwaha"><i
                        class="icon-stack-overflow"></i></a>
                <a target="_blank" href="https://leetcode.com/u/ganesh071077/"><i class="icon-leetcode"></i></a>
                <a target="_blank" href="{{ site.baseurl }}/feed.xml"><i class="icon-rss-1"></i></a>
                <span class="theme-separator"
                    style="margin-left: 15px; border-left: 1px solid rgba(255,255,255,0.2); padding-left: 15px;"></span>
                <a href="#" id="theme-toggle" title="Toggle Theme"><i class="icon-ajust"></i></a>
            </div>
        </div>
    </div>

    {% include navigation.html %}

</header><!-- #masthead .site-header -->