<div class="clean-navigation">
    <div class="container d-flex align-items-center justify-content-start">
        <nav class="clean-nav">
            <ul>
                {% for item in site.data.navigation %}
                {% if item.sublinks %}
                <li class="dropdown" style="position:relative;">
                    <a href="#">{{ item.title }} <span class="caret">&#9660;</span></a>
                    <ul class="dropdown-menu-clean">
                        {% for sub in item.sublinks %}
                        <li><a href="{{ sub.url }}">{{ sub.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>