<aside id="side-bar" class="col-lg-4 widget-area modern-sidebar pb-4">
    <div class="widget modern-profile">
        <div class="profile-header"></div>
        <div class="profile-body">
            <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?d=mp&f=y" alt="Ganesh Marwaha"
                class="profile-avatar">
            <h3 class="profile-name">Ganesh Marwaha</h3>
            <p class="profile-bio">Software Engineer &amp; Head of Engineering for Virtusa. Passionate about Digital
                Transformation, Microservices, and Developer Experiences.</p>
            <div class="profile-socials">
                <a target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i
                        class="icon-twitter-1"></i></a>
                <a target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon-github"></i></a>
                <a target="_blank" href="#"><i class="icon-linkedin-1"></i></a>
            </div>
        </div>
    </div>

    <div class="widget widget-ad">
        <h3 class="modern-widget-title">Advertisement</h3>
        <div class="ad-space">
            <span>Ad Space</span>
        </div>
    </div>

    <div class="widget widget-topics">
        <h3 class="modern-widget-title">Topics I Blog About</h3>
        <div class="topic-pills">
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
            {% assign tag_name = tag[0] %}
            {% assign tag_posts = tag[1] %}
            <a href="/tags/{{ tag_name | slugify }}" class="topic-link">
                {{ tag_name }} <span class="topic-count">{{ tag_posts.size }}</span>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="widget widget-timeline">
        <h3 class="modern-widget-title">Timeline</h3>
        <ul class="timeline-list">
            {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
            {% for year_group in posts_by_year %}
            <li>
                <a href="/blog/{{ year_group.name }}/">
                    {{ year_group.name }}
                    <span class="post-count">({{ year_group.items | size }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

</aside>