---
layout: default
---
<div id="primary" class="row right_side">
    <div id="content" class="span8" role="main">
        <article class="type-page box">
            <h1 class="title">{{ page.title }}</h1>
            <div class="the-content pad15">
                {{ content }}
            </div>
        </article>
    </div>
    <aside id="side-bar" class="span4 widget-area">
        <div class="widget box textwidget">
            <h3 class="widget-head">About Me</h3>
            <div class="textwidget pad15">
                I am a software engineer passionate about building great products. Follow me on <a
                    href="https://twitter.com/{{site.twitter_username}}">Twitter</a>!
            </div>
        </div>
    </aside>
</div>